html,
body {
  height: 100%; /* Le html et le body occupent 100% de la hauteur de la fenêtre */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime le padding par défaut */
}

.head-img {
  width: 100%; /* L'image occupe 100% de la largeur du conteneur */
  height: auto; /* Maintient le ratio d'aspect de l'image */
  display: block; /* Supprime l'espace en bas de l'image */
}

.main-block {
  position: absolute; /* Positionnement absolu par rapport au conteneur parent */
  top: 0; /* Aligne la `div` en haut du conteneur */
  left: 0; /* Aligne la `div` à gauche du conteneur */
  width: 100%; /* La `div` occupe toute la largeur du conteneur */
  height: auto 0; /* La `div` occupe toute la hauteur du conteneur */
  background: rgba(0, 0, 0, 0.5); /* Arrière-plan semi-transparent */
  display: flex; /* Utilisation de Flexbox pour le centrage du contenu, si nécessaire */
  justify-content: center; /* Centre horizontalement le contenu */
  align-items: center; /* Centre verticalement le contenu */
}

.main-block-first-div {
  margin-top: 25%;
  border: rgb(128, 0, 0) solid 2px;
  width: 80%; /* Le bloc occupe 80% de la largeur de la page */
}

.aboutme-profil {
  display: flex;
  justify-content: space-around;
}
.aboutme-profil-pic {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 500px;
  border: solid #1d3b31;
}

.aboutme-name-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d3b31;
}

.aboutme-profil-name {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #1d3b31;
  text-align: center;
}

p {
  line-height: 30px;
}

.aboutme-profil-city {
  font-size: 30px;
  font-style: italic;
}

h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

section {
  border-radius: 5px;
  margin: 30px;
  padding: 70px;
  text-align: justify;
  background-color: #fdfdfc;
}

#education {
  text-align: center;
}

.logo {
  display: flex;
}

.logo > img {
  height: 100px;
  margin: 50px;
}

span {
  font-weight: bold;
}

.detailed-project > img {
  width: 50%;
  height: 50%;
  margin-right: 60px;
}

.detailed-project {
  display: flex;
  margin-top: 130px;
  margin-bottom: 100px;
}

.description > h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

li {
  line-height: 30px;
  list-style-type: disc;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  color: #392e2c;
}

.link > a > img {
  height: 30px;
  margin-right: 20px;
}

footer {
  height: 300px;
  text-align: center;
  margin-top: 30px;
}

footer > p,
footer > p > a {
  color: #8bceb6;
  line-height: 40px;
}

footer > a {
  color: #56ba9f;
  line-height: 40px;
}
